.container {
  margin: 0 auto;
  padding: 45px 15px;

  @media (min-width: $tablet) {
    padding: 70px 35px;
  }

  @media (min-width: $laptop) {
    padding: 90px 55px;
  }

  @media (min-width: $desktop) {
    padding: 120px 100px;
  }
}
