.container {
  margin: 0 auto;
  padding: 35px 20px;

  @media (min-width: $smart) {
    padding: 40px 30px;
  }

  @media (min-width: $tablet) {
    padding: 60px 40px;
  }

  @media (min-width: $desktop) {
    padding: 70px 40px;
  }

  @media (min-width: $desktopPlus) {
    padding: 80px 60px;
  }

  @media (min-width: $laptop) {
    padding: 90px 80px;
  }

  @media (min-width: $laptopPlus) {
    padding: 95px 100px;
  }
}
