@font-face {
  font-family: "Generisch Sans";
  src: url("/fonts/GenerischSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Generisch Sans";
  src: url("/fonts/GenerischSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Generisch Sans";
  src: url("/fonts/GenerischSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  font-family: 'Generisch Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 100;
  color: $darkblue;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 320px;
  min-height: 100vh;

  @media (min-width: $tablet) {
    font-size: 19px;
    line-height: 26px;
  }

  @media (min-width: $laptop) {
    font-size: 20px;
    line-height: 27px;
  }

  @media (min-width: $desktop) {
    font-size: 24px;
    line-height: 33px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
