// Цвета

$white: white;
$black: black;
$darkblue: #21243D;
$blue: #142850;
$lightblue: #edf7fa;
$red: #ff6464;
$grey: #8695a4;

// Ширины дисплеев

$smart: 420px;
$tablet: 768px;
$desktop: 1080px;
$desktopPlus: 1280px;
$laptop: 1360px;
$laptopPlus: 1440px;
