// Цвета

$white: white;
$whitesmoke: whitesmoke;
$black: black;
$blue: #142850;
$darkblue: #21243D;
$lightblue: #edf7fa;
$waterblue: #3897fe;
$red: #ff6464;
$grey: #8695a4;
$grey2: #59636e;

// Брейкпоинты

$tablet: 768px;
$laptop: 1280px;
$desktop: 1920px;
