.advantages {
  background-color: $lightblue;
}

.advantages__title {
  text-align: center;
}

.advantages__list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;

  @media (min-width: $smart) {
    row-gap: 35px;
  }

  @media (min-width: $tablet) {
    margin-top: 35px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media (min-width: $desktop) {
    margin-top: 50px;
  }

  @media (min-width: $laptopPlus) {
    row-gap: 40px;
    column-gap: 40px;
  }
}

.advantages__item {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  background-color: $white;
  padding: 75px 16px 15px 16px;
  border-radius: 30px;

  background-size: 55px 55px;
  background-repeat: no-repeat;
  background-position: 50% 13%;

  &:nth-of-type(1) {
    background-image: url("/icons/one.svg");
  }

  &:nth-of-type(2) {
    background-image: url("/icons/two.svg");
  }

  &:nth-of-type(3) {
    background-image: url("/icons/three.svg");
  }

  &:nth-of-type(4) {
    background-image: url("/icons/four.svg");
  }

  &:nth-of-type(5) {
    background-image: url("/icons/five.svg");
  }

  &:nth-of-type(6) {
    background-image: url("/icons/six.svg");
  }

  @media (min-width: $tablet) {
    width: 295px;
  }

  @media (min-width: $desktop) {
    width: 275px;
    justify-content: center;
  }

  @media (min-width: $desktopPlus) {
    background-size: 65px 65px;
    width: 300px;
    padding: 85px 20px 20px 20px;
  }

  @media (min-width: $laptopPlus) {
    width: 345px;
  }
}
