.advantages {
  background-color: $lightblue;
  scroll-margin-top: 3em;
}

.advantages__title {
  margin: 0 auto;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  row-gap: 25px;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 38px;
  }

  @media (min-width: $laptop) {
    gap: 50px;
  }
}

.advantages__item {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  background-color: $white;
  padding: 75px 16px 15px 16px;
  border-radius: 30px;

  background-size: 55px 55px;
  background-repeat: no-repeat;
  background-position: 50% 13%;

  &:nth-of-type(1) {
    background-image: url("/icons/one.svg");
  }

  &:nth-of-type(2) {
    background-image: url("/icons/two.svg");
  }

  &:nth-of-type(3) {
    background-image: url("/icons/three.svg");
  }

  &:nth-of-type(4) {
    background-image: url("/icons/four.svg");
  }

  &:nth-of-type(5) {
    background-image: url("/icons/five.svg");
  }

  &:nth-of-type(6) {
    background-image: url("/icons/six.svg");
  }

  @media (min-width: $tablet) {
    width: 298px;
  }

  @media (min-width: $laptop) {
    background-size: 65px 65px;
    width: 316px;
    padding: 90px 20px 20px 20px;
  }

  @media (min-width: $desktop) {
    justify-content: center;
    width: 490px;
    background-size: 75px 75px;
    padding: 110px 25px 25px 25px;
  }
}

.advantages__info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;

  @media (min-width: $tablet) {
    margin-top: 50px;
  }

  @media (min-width: $laptop) {
    margin-top: 70px;
  }

  @media (min-width: $desktop) {
    margin-top: 85px;
  }
}

.advantages__info-item {
  text-align: center;
}

.advantages__num {
  text-decoration: underline;
  font-size: 28px;
  line-height: 34px;
  color: $waterblue;

  @media (min-width: $tablet) {
    font-size: 32px;
    line-height: 39px;
  }

  @media (min-width: $laptop) {
    font-size: 37px;
    line-height: 44px;
  }

  @media (min-width: $desktop) {
    font-size: 41px;
    line-height: 48px;
  }
}
