.call-master {
  font-size: 17px;
  font-weight: 100;
  text-decoration: none;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $waterblue;
  width: 200px;
  height: 21px;
  padding: 12px 0;
  border: 1px solid $waterblue;
  border-radius: 30px;
  transition: 0.4s;

  &:hover {
    color: $waterblue;
    background-color: $white;
  }

  &--feedback {
    height: 45px;
    margin-top: 15px;
    cursor: pointer;
  }

  &--repair {
    margin-top: 20px;
  }

  @media (min-width: $tablet) {
    grid-column: 2;
    justify-self: center;

    &--feedback {
      margin: 0;
    }

    &--repair {
      margin-top: 25px;
    }
  }

  @media (min-width: $laptop) {
    height: 31px;

    &--feedback {
      height: 55px;
      margin-left: 35px;
    }

    &--repair {
      margin-top: 35px;
    }
  }

  @media (min-width: $desktop) {
    font-size: 21px;
    width: 250px;
    height: 39px;

    &--feedback {
      height: 66px;
      margin-left: 55px;
    }

    &--repair {
      margin-top: 45px;
    }
  }
}
