.call-master {
  font-size: 17px;
  font-weight: 100;
  text-decoration: none;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $waterblue;
  height: 21px;
  padding: 12px 15px;
  border: 1px solid $waterblue;
  border-radius: 30px;
  transition: 0.4s;

  &:hover {
    color: $waterblue;
    background-color: $white;
  }

  &--feedback {
    height: 47px;
    cursor: pointer;
  }

  &--repair {
    margin-top: 20px;
  }

  @media (min-width: $tablet) {
    padding: 10px 15px;

    &--feedback {
      height: 43px;
      margin: 0;
    }

    &--repair {
      margin-top: 25px;
    }
  }

  @media (min-width: $laptop) {
    height: 30px;
    padding: 10px 25px;

    &--feedback {
      height: 52px;
    }

    &--repair {
      margin-top: 35px;
    }
  }

  @media (min-width: $desktop) {
    font-size: 21px;
    height: 39px;

    &--feedback {
      height: 61px;
    }

    &--repair {
      margin-top: 45px;
    }
  }
}
