.main-footer {
  background-color: $lightblue;
  padding: 30px 20px;

  @media (min-width: $smart) {
    padding: 30px;
  }

  @media (min-width: $tablet) {
    padding: 35px 40px;
  }

  @media (min-width: $desktop) {
    padding: 35px 45px;
  }

  @media (min-width: $desktopPlus) {
    padding: 35px 60px;
  }

  @media (min-width: $laptop) {
    padding: 35px 80px;
  }

  @media (min-width: $laptopPlus) {
    padding: 45px 100px;
  }
}

.main-footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;


  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 25px;
  }
}

.main-footer__time {
  @media (min-width: $tablet) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      right: -15px;
      width: 1px;
      height: 1em;
      background-color: $darkblue;
    }
  }
}

.main-footer__socials-list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $darkblue;

  @media (min-width: $tablet) {
    justify-content: space-around;
    padding-bottom: 5px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 10px;
  }

  @media (min-width: $laptopPlus) {
    padding-bottom: 12px;
  }
}

.main-footer__socials-item {
  display: flex;
  justify-content: center;
}

.main-footer__socials-link {
  text-decoration: none;
  color: $grey2;
  transition: 0.4s;

  &:hover {
    color: $waterblue;
  }
}

.main-footer__other {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;

  @media (min-width: $tablet) {
    flex-direction: row;
    margin-top: 30px;
  }

  @media (min-width: $desktop) {
    margin-top: 35px;
  }
}

.main-footer__copyright {
  font-size: 15px;
}

.main-footer__dev {
  font-size: 13px;
  line-height: 16px;
  color: $grey;
  display: block;
  width: max-content;
  margin: 5px auto 0 auto;

  @media (min-width: $tablet) {
    margin: 0 0 0 auto;
  }
}

.main-footer__button-up {
  position: fixed;
  bottom: 40px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: $white;
  background-image: url("../icons/arrow.svg");
  border: 1px solid $waterblue;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(200%);
  transition: 0.4s;

  &--active {
    transform: translateY(0);
    opacity: 1;
  }

  @media (min-width: $smart) {
    right: 30px;
    width: 45px;
    height: 45px;
  }

  @media (min-width: $tablet) {
    right: 40px;
    bottom: 50px;
  }

  @media (min-width: $desktop) {
    right: 45px;
    bottom: 70px;
  }

  @media (min-width: $desktopPlus) {
    right: 60px;
    width: 50px;
    height: 50px;
  }

  @media (min-width: $laptop) {
    right: 80px;
  }

  @media (min-width: $laptopPlus) {
    right: 100px;
    bottom: 80px;
  }
}
