.main-header {
  margin-top: 61px;

  @media (min-width: $tablet) {
    margin-top: 68px;
  }

  @media (min-width: $laptop) {
    margin-top: 81px;
  }

  @media (min-width: $desktop) {
    margin-top: 101px;
  }
}

.main-header__intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 275px 420px;
    grid-template-rows: 55px 100px 45px;
    justify-content: space-around;
    row-gap: 15px;
  }

  @media (min-width: $laptop) {
    grid-template-columns: 330px 610px;
    grid-template-rows: 90px 105px 55px;
    row-gap: 33px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 350px 860px;
    grid-template-rows: 180px 125px 62px;
    row-gap: 25px;
  }
}

.main-header__photo {
  border-radius: 50%;
  box-shadow: -10px 10px 10px $grey;

  @media (min-width: $tablet) {
    width: 220px;
    height: 230px;

    grid-row: 1/-1;
    justify-self: center;
  }

  @media (min-width: $laptop) {
    width: 300px;
    height: 315px;
    box-shadow: -10px 10px 10px $grey;
  }

  @media (min-width: $desktop) {
    width: 400px;
    height: 415px;
  }
}

.main-header__title {
  text-align: center;
  line-height: 32px;
  margin: 34px 0 21px 0;

  @media (min-width: $tablet) {
    font-size: 26px;
    line-height: 29px;
    text-align: left;
    margin: 0;
  }

  @media (min-width: $laptop) {
    font-size: 41px;
    line-height: 44px;
  }

  @media (min-width: $desktop) {
    font-size: 58px;
    line-height: 65px;
  }
}

.main-header__description {
  text-align: justify;
  margin: 0 0 27px 0;

  @media (min-width: $tablet) {
    text-align: justify;
    font-size: 17px;
    grid-column: 2;
    margin: 0;
  }

  @media (min-width: $laptop) {
    line-height: 28px;
  }

  @media (min-width: $desktop) {
    font-size: 27px;
    line-height: 34px;
  }
}

.main-header__buttons {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $laptop) {
    justify-content: start;
  }
}
