.main-footer__time {
  text-align: center;
  position: relative;
  width: auto;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid $grey;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 15px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: url("/icons/calendar.svg");
  }

  @media (min-width: $smart) {
    &::before {
      left: 45px;
    }
  }

  @media (min-width: $tablet) {
    margin-bottom: 25px;
    padding-bottom: 10px;

    &::before {
      width: 35px;
      height: 35px;
      top: -5px;
      left: 180px;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 30px;
    padding-bottom: 20px;

    &::before {
      width: 40px;
      height: 40px;
      top: -10px;
      left: 330px;
    }
  }
}

.main-footer__socials-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.main-footer__socials-item {
  display: flex;
  justify-content: center;
}

.main-footer__socials-link {
  text-decoration: none;
  color: $darkblue;
  padding: 2px 10px;
  border: 1px solid $grey;
  border-radius: 15px;
}

.main-footer__copyright {
  text-align: center;
  margin-top: 15px;

  @media (min-width: $tablet) {
    margin-top: 20px;
  }
  @media (min-width: $desktop) {
    margin-top: 35px;
  }
}
