.works__title {
  text-align: center;
}

.works__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;

  &--repair {
    margin-top: 50px;
  }
}

.works__subtitle {
  font-weight: 400;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -40px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--install {
    &::before {
      background-image: url("/icons/install.svg");
    }
  }

  &--repair {
    &::before {
      background-image: url("/icons/repair.svg");
    }
  }

  @media (min-width: $tablet) {
    &::before {
      top: -15px;
      left: -55px;
      width: 55px;
      height: 55px;
    }
  }
}

.works__list {
  display: flex;
  flex-direction: column;
  width: 290px;
  margin-top: 25px;

  &--install {
    row-gap: 40px;
    align-items: center;
  }

  &--repair {
    row-gap: 15px;
  }

  @media (min-width: $smart) {
    width: 360px;

    &--install {
      row-gap: 50px;
    }

    &--repair {
      row-gap: 20px;
    }
  }

  @media (min-width: $tablet) {
    margin-top: 30px;

    &--install {
      width: auto;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 35px;
    }

    &--repair {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

.works__item {
  display: flex;
  flex-direction: column;
  row-gap: 13px;

  p {
    letter-spacing: 1px;
    color: $white;
    background-color: $blue;
    width: max-content;
    padding: 7px 15px;
    border-radius: 20px;
  }

  &--install {
    align-items: center;
  }

  &--repair {
    align-items: start;
    border-bottom: 1px solid $red;
  }
}

.works__work-img {
  border-radius: 20px;

  @media (min-width: $smart) {
    width: 360px;
    height: 375px;
  }

  @media (min-width: $tablet) {
    width: 320px;
    height: 305px;
  }
}
