.works__block {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--repair {
    position: relative;
    margin-top: 55px;
  }

  @media (min-width: $tablet) {
    &--repair {
      align-items: start;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 80px;
    }
  }

  @media (min-width: $desktop) {
    &--repair {
      margin-top: 100px;
    }
  }

  @media (min-width: $laptopPlus) {
    &--repair {
      margin-top: 120px;
    }
  }
}

.works__subtitle {
  text-transform: uppercase;
  text-align: center;
  position: relative;

  @media (min-width: $tablet) {
    &--repair {
      text-align: left;
    }
  }
}

.works__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  line-height: arabic-indic;

  &--install {
    row-gap: 50px;
    margin-top: 30px;
  }

  &--repair {
    flex-wrap: wrap;
    row-gap: 25px;
    margin-top: 15px;
  }

  @media (min-width: $smart) {
    &--install {
      row-gap: 55px;
      width: 360px;
      margin-top: 45px;
    }

    &--repair {
      row-gap: 27px;
      width: 360px;
      margin-top: 20px;
    }
  }

  @media (min-width: $tablet) {
    justify-content: space-around;

    &--install {
      flex-direction: row;
      flex-wrap: wrap;
      width: auto;
      margin-top: 55px;
    }

    &--repair {
      width: 170px;
      row-gap: 33px;
      margin-top: 35px;
    }
  }

  @media (min-width: $desktop) {
    &--install {
      row-gap: 90px;
      margin-top: 70px;
    }

    &--repair {
      column-gap: 65px;
      row-gap: 39px;
      width: 200px;
    }
  }

  @media (min-width: $desktopPlus) {
    &--install {
      row-gap: 100px;
    }

    &--repair {
      row-gap: 40px;
      margin-top: 30px;
    }
  }

  @media (min-width: $laptopPlus) {
    &--install {
      row-gap: 110px;
      margin-top: 80px;
    }

    &--repair {
      row-gap: 45px;
      width: 220px;
      margin-top: 35px;
    }
  }
}

.works__item {
  position: relative;

  display: flex;
  flex-direction: column;
  row-gap: 13px;

  &--install {
    align-items: center;
  }

  &--repair {
    position: relative;
    align-self: start;
    width: max-content;
    padding-left: 30px;

    &:nth-of-type(even) {
      margin-left: auto;
    }

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: 5px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("/icons/repair.svg");
      width: 35px;
      height: 35px;
    }
  }

  @media (min-width: $smart) {
    &::before {
      top: -7px;
      width: 40px;
      height: 40px;
    }
  }

  @media (min-width: $tablet) {
    &--repair {
      &:nth-of-type(even) {
        margin-left: 0;
      }

      &::before {
        left: 2px;
      }
    }
  }

  @media (min-width: $desktop) {
    &--install {
      row-gap: 15px;
    }

    &--repair {
      padding-left: 35px;
    }
  }

  @media (min-width: $laptopPlus) {
    &--repair {
      &::before {
        width: 45px;
        height: 45px;
      }
    }
  }
}

.works__work-name {
  font-weight: 400;
  position: absolute;
  transform: translateX(-15px) translateY(15px) rotate(-14deg);

  @media (min-width: $smart) {
    font-size: 19px;
    transform: translateX(-15px) translateY(20px) rotate(-14deg);
  }

  @media (min-width: $tablet) {
    transform: translateX(-15px) translateY(30px) rotate(-14deg);
  }

  @media (min-width: $desktop) {
    transform: translateX(-15px) translateY(25px) rotate(-14deg);
  }

  @media (min-width: $desktopPlus) {
    transform: translateX(-15px) translateY(15px) rotate(-14deg);
  }

  @media (min-width: $laptopPlus) {
    font-size: 20px;
  }
}

.works__work-img {
  clip-path: polygon(0 30%, 100% 0, 100% 70%, 0% 100%);

  @media (min-width: $smart) {
    width: 360px;
    height: 310px;
  }

  @media (min-width: $tablet) {
    width: 430px;
    height: 380px;
  }

  @media (min-width: $desktop) {
    width: 390px;
    height: 330px;
  }

  @media (min-width: $desktopPlus) {
    width: 335px;
    height: 285px;
  }
}

.works__work-price {
  font-weight: 400;
  position: absolute;
  transform: translateX(10px) translateY(210px) rotate(-15deg);

  @media (min-width: $smart) {
    font-size: 19px;
    transform: translateX(10px) translateY(265px) rotate(-15deg);
  }

  @media (min-width: $tablet) {
    transform: translateX(10px) translateY(325px) rotate(-15deg);
  }

  @media (min-width: $desktop) {
    transform: translateX(10px) translateY(285px) rotate(-15deg);
  }

  @media (min-width: $desktopPlus) {
    transform: translateX(10px) translateY(245px) rotate(-15deg);
  }

  @media (min-width: $laptopPlus) {
    font-size: 20px;
  }

  span {
    border-bottom: 1px solid $red;
  }
}

.works__repair-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  margin-top: 35px;

  @media (min-width: $tablet) {
    align-self: center;
    width: 370px;
    margin-top: 0;
  }

  @media (min-width: $desktop) {
    width: 480px;
  }

  @media (min-width: $desktopPlus) {
    width: 600px;
  }

  @media (min-width: $laptopPlus) {
    width: 700px;
  }
}

.works__dearly {
  margin-top: 25px;

  @media (min-width: $desktopPlus) {
    margin-top: 45px;
  }

  @media (min-width: $laptopPlus) {
    margin-top: 55px;
  }
}

.works__repair-title {
  font-weight: 400;
  font-style: italic;
}

.works__repair-description {
  margin-top: 10px;

  @media (min-width: $tablet) {
    margin-top: 15px;
  }
}

.works__repair-no {
  text-transform: uppercase;
  text-decoration-line: line-through;
  font-weight: 100;
}
